.banner-supermercado {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-supermercado img {
  width: 100%;
  height: auto;
}

td span.editable-nombre {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Mostrar como máximo 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
  /* Que respete el ancho de la celda */
}

.grafico-container {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.grafico-container canvas {
  width: 100% !important;
  height: auto !important;
}